extends layout

block content
    h2 #{data.pages.categories.title}
    div.frozen#link
        a(href="/categories/0") #{data.pages.categories.content[0]}
    div.liquid#link
        a(href="/categories/1") #{data.pages.categories.content[1]}
    div.ferro#link
        a(href="/categories/2") #{data.pages.categories.content[2]}
    div.hyper#link
        a(href="/categories/3") #{data.pages.categories.content[3]}
    br
    div.imageGrid        
         each photo, index in _500pxData.photos
            - photo = _500pxData.photos[index].image_url       
            a(href= data.pages.categories.links[num])
                img(src=photo)