doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="bootstrap.min.css")
        link(rel="stylesheet", href="custom.css")
    body
        header
            h1 #{title}
            div.links
                div.about#link
                    a(href="/index") #{data.pages.about.title}
                div.categories#link
                    a(href="/categories") #{data.pages.categories.title}
                div.contact#link
                    a(href="contact") #{data.pages.contact.title}
        div.container
            block content
        footer
            h3 Jesse Rafalko